.grad{
    background-image: linear-gradient(to bottom, #006EF5, #358FFE);
    background-repeat: no-repeat;
}
.b-bluelight{
    border: solid 1px #7DB0F0;
}

.bg-gray{
    background-color: #f5f5f5;
}


/*Size*/
.s-8{
    height: 8px;
    width: 8px;

}
.s-16{
    height: 16px;
    width: 16px;
}

.s-24{
    height: 24px;
    width: 24px;
}

.s-32{
    height: 32px;
    width: 32px;
}