mt-8{
    margin-top: 8px;
}
mb-8{
    margin-bottom: 8px;
}
mx-8{
    margin-left: 8px;
    margin-right: 8px;
}
my-8{
    margin-top: 8px;
    margin-bottom: 8px;
}

mt-16{
    margin-top: 16px;
}
mb-16{
    margin-bottom: 16px;
}
mx-16{
    margin-left: 16px;
    margin-right: 16px;
}
my-16{
    margin-top: 16px;
    margin-bottom: 16px;
}
mt-32{
    margin-top: 32px;
}
mb-32{
    margin-bottom: 32px;
}
mx-32{
    margin-left: 32px;
    margin-right: 32px;
}
my-32{
    margin-top: 32px;
    margin-bottom: 32px;
}
mt-64{
    margin-top: 64px;
}
mb-64{
    margin-bottom: 64px;
}
mx-64{
    margin-left: 64px;
    margin-right: 64px;
}
my-64{
    margin-top: 64px;
    margin-bottom: 64px;
}