.icon {
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
  }
  
  .close{
    vertical-align: middle;
  }

  .icon-face {
    vertical-align: middle;
    background-image: url("../Icons/facebook.svg");    
  }

  .icon-yout {
    vertical-align: middle;
    width: 34px ;
    background-image: url('../Icons/youtube.svg');    
  }
  
  .icon-whats {
    vertical-align: middle;
    background-image: url('../Icons/whatsapp.svg');    
  }

  .icon-twitter {
    vertical-align: middle;
    width: 28px;
    background-image: url('../Icons/twitter.svg');    
  }

  .icon-google {
    vertical-align: middle;
    width: 38px;
    background-image: url('../Icons/google.svg');    
  }

  .exit{    
    color: black !important;
}
.exit:hover{
    cursor: pointer;
    color: red !important;
    text-decoration: none;        
}

.exit:hover .icon-exit {
  background-image: url('../Icons/exith.svg');    
}

.icon-exit {
  vertical-align: middle;
  background-image: url('../Icons/exit.svg');    
}
.tri{
  width: 0px;
  height: 0px;
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  border-right: solid gray 15px;
}
.tri:hover{
  transition: ease-in-out 0.05s;
  width: 0px;
  height: 0px;
  border-left: solid 10px transparent;
  border-top: solid gray 15px;
  border-right: solid 10px transparent;
}

.enter{

  color: white !important;
}

.enter:hover{
  color: black !important;
}