.icon {
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
  }
  

  .icon-face {
    vertical-align: middle;
    background-image: url("../Icons/facebook.svg");    
  }

  .icon-yout {
    vertical-align: middle;
    width: 34px ;
    background-image: url('../Icons/youtube.svg');    
  }
  
  .icon-whats {
    vertical-align: middle;
    background-image: url('../Icons/whatsapp.svg');    
  }

  .icon-twitter {
    vertical-align: middle;
    width: 28px;
    background-image: url('../Icons/twitter.svg');    
  }

  .icon-google {
    vertical-align: middle;
    width: 38px;
    background-image: url('../Icons/google.svg');    
  }

  .exit{    
    color: black;
}
.exit:hover{
    color: red;
    text-decoration: none;        
}

.exit:hover .icon-exit {
  background-image: url('../Icons/exith.svg');    
}

.icon-exit {
  vertical-align: middle;
  background-image: url('../Icons/exit.svg');    
}